# Binaries
**/bin/
bin-int/
Intermediates/

# Pine files
*.log
*.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
/Sandbox/PineProfile-Startup.json
/Sandbox/PineProfile-Runtime.json
/Sandbox/PineProfile-Shutdown.json
