# Binaries
**/bin/
bin-int/
Intermediates/
Scripts/

# Pine files
*.log
*.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Pine/vendor/VulkanSDK
Pine-Editor/assets/cache
scripts/__pycache__
